{% extends "base.html" %}

{% block main %}
<style>
    img{
        display:inline; 
        float:left; 
        border:5px solid lightgrey; 
        border-radius:5px; 
        width:200px;
        height:200px;  
        padding: 5px ;
        transform: translate(0px,10px);
    }
    
    table{
        border-collapse: separate; 
        border:5px solid lightgray; 
        border-radius:5px; 
        float:left; 
        width:65%; 
        min-height:250px;
        transform: translate(1px,10px);
    }
</style>


    <h1>Profile</h1>
    <form action="{{ url_for('viewprofile',userid=profile.userid) }}" method="POST" enctype="application/json">
        <button type="submit" style="position:relative;">View JSON</button>
    </form>
    <hr>
    {% if profile.pro_pic %}
        <img src="{{ url_for('static', filename="uploads/"+profile.pro_pic ) }}">
    {% else %}
        <img src="{{ url_for('static',filename="images/empty.jpg") }}">
    {% endif %} 
    <table>
        <tr>
            <th style="background-color: lightgray;padding-left:20px;"><h2>{{ profile.firstname }} {{ profile.lastname }}</br><font size="3">Profile Created On: {{ profile.date_created }}</font></h2></th>
        </tr>
        <tr>
            <td style="padding-left:30px;">
                </br>
                <b>Username:</b> {{ profile.username }}
                </br>
                <b>Id Number:</b> {{ profile.userid }}
                </br>
                <b>Gender:</b> {{ profile.gender }}
                </br>
                <b>Age:</b> {{ profile.age }}
                </br><hr>
                {{ profile.bio }}
                </br>
                </br>
            </td>
        </tr>

    </table>
{% endblock %}